{% extends 'base.html' %}

{% block title %}Scan Face{% endblock title %}
{% block content %}
<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center">
        <h1 class="text-6xl font-bold">Scan Face</h1>
        <img class="mx-auto my-3" src="{{ url_for('video_feed') }}" />
        <button
            id="captureButton"
            type="button"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
        >
            Proceed
        </button>
    </div>
</section>


{% include '_modals.html' %}
{% endblock content %}